.tabContents{
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 750px) {
  .box_Content{
    width: 70%;
    align-items: stretch;
  }
}


.card-basic{
  flex-grow: 1;
  max-width: 400px;
}

.card-wide{
  flex-grow: 2;
  max-width: 500px;
}

.appHeaderBox{
  flex-wrap: wrap;
  justify-content: space-around;
}

.appHeaderImage {
  /* The image used */
  background-image: url("moon.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
